langchain
pandas 
streamlit
ipykernel
langchain_community
langchain_core
youtube_transcript_api
unstructured
langchain_groq
langchain_chroma
langchain_huggingface
huggingface_hub
python-dotenv
fastapi
uvicorn
langserve
numpy 
bs4
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
pypdf
validators==0.28.1
datasets
cassio
pyPDF2
pytube
duckduckgo-search